@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '../themes/nord.css'; */
@import '../themes/codeblock.css';

:root {
  --dark1: hsl(216, 28%, 20%);
  --dark2: hsl(215, 28%, 12%);
  --dark3: hsl(214, 28%, 5%);
  --light1: #b4b8c5;
  --light2: #e5e5e5;
  --light3: #f7f7ff;
  --hue: 220;
  --sat: 25%;
  --c0: hsl(var(--hue), var(--sat), 5%);
  --c1: hsl(var(--hue), var(--sat), 9%);
  --c2: hsl(var(--hue), var(--sat), 15%);
  --c3: hsl(var(--hue), var(--sat), 20%);
  --c4: hsl(var(--hue), var(--sat), 25%);
  --c5: hsl(var(--hue), var(--sat), 45%);
  --c6: hsl(var(--hue), 0%, 94%);
  --c7: hsl(var(--hue), 0%, 75%);
  --c8: hsl(var(--hue), 0%, 65%);
  /* --hue2: 249; */
  --dark-bg: hsl(var(--hue), 15%, 10%);
  --dark-text-body: hsl(var(--hue), 10%, 70%);
  --dark-text: hsl(var(--hue), 10%, 95%);
  /* --accent: #3b299d; */
  /* --accent: hsl(220, 59%, 39%); */
  --accent: hsl(220, 25%, 20%);
  --accent2: hsl(220, 65%, 85%);
  --light-bg: hsl(var(--hue), 5%, 97%);
  --light-text-body: hsl(var(--hue), 40%, 15%);
  --light-text: hsl(var(--hue), 20%, 3%);
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 50px; */
  overflow: overlay;
}

* {
  box-sizing: border-box;
  line-height: 1em + 1ex;
}

@media (max-width: 768px) {
  * {
    animation: none;
    transition: none;
  }
}

body {
  margin: 0;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* margin-top: 50px; */
}
body {
  background-color: var(--dark-bg);
  color: var(--dark-text-body) !important;
}

.dark .article-nav-top,
.dark .article-section {
  background-color: var(--dark-bg);
  /* background-color: hsl(220, 0%, 3%); */
  color: var(--dark-text-body) !important;
  /* color: #eaeaea; */
}

.light .article-nav-top,
.light .article-section {
  background-color: var(--light-bg);
  color: var(--light-text-body) !important;
}

.linked-article-header::before {
  display: block;
  content: ' ';
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}

.linked-article-header {
  scroll-padding-top: 60px; /* Adjust this value to create enough space for the target element */
  /* scroll-margin-top: -60px; */
  padding-top: 60px;
  margin-top: -60px;
}

.dark .article-list-item {
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.15);
  border-radius: 0.25rem;
}

.light .article-list-item {
  box-shadow: 0 0 0 1px hsla(0,0%,75%,.5);
  border-radius: 0.25rem;
}

.dark .thin-border {
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.15);
  border-radius: 0.25rem;
}

.light .thin-border {
  box-shadow: 0 0 0 1px hsla(0,0%,75%,.5);
  border-radius: 0.25rem;
}

.two-line-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr td:first-child,
tr th:first-child {
  padding-left: 8px;
}
.dark tr:nth-child(2n) {
  background-color: #22222288;
}
.light tr:nth-child(2n) {
  background-color: #eeeeeeee;
}
.dark thead tr {
  background-color: hsl(220, 25%, 15%);
  color: var(--c6);
}

.light thead tr {
  background-color: #dde0e4;
  color: #0f172a;
}

thead tr th {
  padding-top: 8px;
  font-weight: 800;
}

thead {
  border-bottom: none;
}

.dark tr > *:not(:first-child) {
  border-left: 1px hsla(0,0%,100%,.05) solid;
}

.light tr > *:not(:first-child) {
  border-left: 1px hsla(0,0%,85%,.85) solid;
}

thead tr > * {
  border-left: none !important;
}

::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	/* border-radius: 10px; */
	background-color: transparent;
    position: absolute;
}

::-webkit-scrollbar
{
	width: 0.75rem;

}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: rgba(100,100,100,0.5);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(100,100,100,0.75);

}

a {
  text-decoration: none;
  color: inherit;
}

/* article table of contents */
.page-outline {
  position: fixed;
  /* right: 2%; */
  top: 80px;
  max-width: 18vw;
  border-left: 1px solid rgba(128,128,128,0.25);
  margin-right: 2rem;
  transform: translateX(695px);
  max-height: 75vh;
  overflow-y: scroll;
}

.dark .page-outline a {
  color: #94a3b8;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.light .page-outline a {
  color: #475569;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.dark .text-highlight-scroll {
  /* background-color: var(--accent); */
  /* background-color: #63ECBC; */
  /* color: var(--dark-text) !important; */
  /* color: #63ecbc !important; */
  /* color: #D3FBD8 !important; */
  color: #c3e88d !important;
}

.dark li:has( .text-highlight-scroll)::marker {
  color: #c3e88d;
} 

.light .text-highlight-scroll {
  background-color: hsl(25, 100%, 90%) !important;
  color: #3D3D3D !important;
  /* background-color: #c3e88d !important; */
}

.light li:has( .text-highlight-scroll)::marker {
  color: hsl(25, 100%, 70%);
} 

.page-outline ol {
  list-style-type: disc;
}

.page-outline ol.toc-level-2 {
  list-style-type: circle;
}

@media screen and (max-width: 1100px) {
  .page-outline {
    position: relative;
    border-left: none;
    max-width: unset;
    max-height: unset;
    top: 0;
    transform: translateX(0);
  }
}

.use-serif {
  font-family: var(--font-serif);
}

html.dark button {
  /* box-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.25) !important; */
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.15);

}

#projects button {
  box-shadow: none;
}

/* prose customization */

.prose {
  max-width: 75ch;
}

.prose h1:not(:first-child) {
  @apply text-3xl
}

.light .prose {
  color: var(--light-text-body);
}

.prose p:has(+div[data-rehype-pretty-code-fragment]) {
  margin-bottom: 0.5rem;
}

.prose pre {
  margin-top: 0.5rem;
}

.dark .article-nav-top,
.dark .article-nav-top li {
  background-color: var(--dark-bg) !important;
}

.light .article-nav-top, 
.light .article-nav-top li {
  background-color: var(--light-bg) !important;
}