.no-transitions {
  transition: none !important;
  animation: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  color: inherit;
  padding: 0 clamp(1rem, 10vw, 40rem);
  height: auto;
  /* position: fixed; */
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  /* box-shadow: 0 4px 6px 0 rgba(0,0,0,.2); */
  box-shadow: 0 0 0 1px hsla(0,0%,80%,.25);
  border-bottom: solid 1px hsla(0,0%,80%,.25);
}

.brand-title {
  /* font-size: 1.5rem; */
  margin: .5rem;
  display: flex;
  align-items: center;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  transition: background-color 0.5s linear !important;
  z-index: 500;
  width: auto;
}

.navbar-links li {
  list-style: none;
  transition: 0.3s background-color;
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content;
}

.navbar-links li a {
  text-decoration: none;
  /* color: var(--c7); */
  padding: 0.375rem 0.75rem;
  display: block;
  font-size: 1rem;
}

.navbar-links li:hover {
  background-color: var(--c2);
}

.navbar-links li:hover a {
  /* color: var(--c6); */
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px hsla(0,0%,80%,.25);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  height: 19px;
  width: 24pt;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  box-shadow: none !important;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: var(--c6);
  border-radius: 10px;
}

@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes growIn {
    0% {
        /* transform: scaleX(1); */
        transform: rotateX(0);
    }
    15% {
        /* transform: scaleX(1.2); */
        transform: rotateX(45deg);
    }
    100% {
        /* transform: scaleX(0); */
        transform: rotateX(90deg);
    }

}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      background-color: inherit !important;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
      position: absolute;
      background-color: inherit;
  }

  .navbar-links li {
      text-align: center;
      background-color: transparent;
      width: 100%;
  }

  .navbar-links li a:hover {
    box-shadow: none;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-links.active ul {
      /* background-color: var(--c4); */
      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;
  }
  .navbar-links.closing ul {
      animation: growUp 500ms ease-in-out forwards;
      transform-origin: top center;
  }
  .navbar-links.active ul li {
      animation: growDown 200ms ease-in-out forwards;
      transform-origin: top center;
  }
  .navbar-links.closing ul li {
      animation: growIn 200ms ease-in-out forwards;
      transform-origin: center;
  }
  
}