.no-transitions {
  transition: none !important;
  animation: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--dark2); */
  color: var(--c6);
  padding: 0 clamp(1rem, 10vw, 40rem);
  height: clamp(2.5vh, 3rem, 6vh);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: background-color 0.5s linear !important;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

.brand-title {
  /* font-size: 1.5rem; */
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  transition: background-color 0.5s linear !important;
  z-index: 500;
}

.navbar-links li {
  list-style: none;
  transition: 0.3s background-color;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--c6);
  padding: 0.75rem;
  display: block;
  font-size: clamp(1rem, 1vw, 1in);
}

.navbar-links li:hover {
  background-color: var(--c4);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
  width: 30pt;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--c6);
  border-radius: 10px;
}

@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes growIn {
    0% {
        /* transform: scaleX(1); */
        transform: rotateX(0);
    }
    15% {
        /* transform: scaleX(1.2); */
        transform: rotateX(45deg);
    }
    100% {
        /* transform: scaleX(0); */
        transform: rotateX(90deg);
    }

}

@media (max-width: 768px) {
  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
      position: absolute;
  }

  .navbar-links li {
      text-align: center;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-links.active ul {
      background-color: var(--c4);
      animation: growDown 300ms ease-in-out forwards;
      transform-origin: top center;
  }
  .navbar-links.closing ul {
      animation: growUp 500ms ease-in-out forwards;
      transform-origin: top center;
  }
  .navbar-links.active ul li {
      animation: growDown 200ms ease-in-out forwards;
      transform-origin: top center;
  }
  .navbar-links.closing ul li {
      animation: growIn 200ms ease-in-out forwards;
      transform-origin: center;
  }
  
}

@media only screen and (min-width: 1440px) {
  .navbar {
    height: 6vh;
  }

  .navbar-links li a {
    /* font-size: 3rem; */
  }
}