.code::before {
  content: '';
}

.code::after {
  content: '';
}

/* :not(pre) > .code {
  border-radius: 0.25rem;
  padding: 0.25rem 0.375rem;
  font-weight: normal;
  background-color: #2e3440;
} */

/* .dark :not(pre) > .code {
  background-color: #2e3440;
  filter: none;
}

pre .code {
  background-color: transparent;
} */