.h1 {
  overflow-x: hidden;
  position: absolute;
  font-size: clamp(2rem, 4vw, 3rem);
  transition: all 0.75s ease-out;
  /* transition-timing-function: steps(4, jump-start); */
  /* padding-top: 1rem; */
  margin-top: 1rem;
  font-family: 'Noto Serif', serif;
}

.projects {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 2rem;
  margin: 0.5rem auto;
  max-width: min(85vw, 1400px);
  /* min-height: 100vh; */
}

@media screen and (max-width: 1200px) {
  .container {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
  grid-template-columns: repeat(1, 1fr);
  max-width: 75vw;
  }
}